name: golang-ci

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Test
        run:  |
          sudo apt-get update
          sudo apt-get install -y libpcap-dev
          go mod vendor
          go test -v ./

  lint:
    runs-on: ubuntu-latest
    container:
      image: golangci/golangci-lint:v1.48
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: golangci-lint
        run: |
          apt-get update && apt-get install -y libpcap-dev
          rm -rf example test
          golangci-lint run --modules-download-mode=mod
