name: golang-ci

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - name: install libpcap-dev
        run:  sudo apt-get update && sudo apt-get install -y libpcap-dev
      - name: remove dirs
        run: rm -rf example test
      - name: Test
        run:  go mod vendor && go test -v ./...
        
  lint:
    runs-on: ubuntu-latest
    container:
      image: golangci/golangci-lint:v1.54
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install libpcap-dev
        run: apt-get update && apt-get install -y libpcap-dev
      - name: golangci-lint
        run: golangci-lint run --modules-download-mode=mod
        
